/* 
    Document   : global
    Created on : 18-jul-2012, 12:53:14
    Author     : juliobarreraa@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

root {display: block;}
.required{color: #f00;}
input, textarea, select, .uneditable-input{width: auto;}
.no-resize {resize: none;}
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {color: #888;}
button.btn, input.btn[type="submit"]{width: 100%;}
.carousel .item > img { max-width: 567px; min-width: 567px; max-height: 250px; }